html {
  scroll-behavior: smooth;
}

*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  border: 0;
  box-sizing: border-box;
}
/*Универсальное решение, которое убирает подсветку во всех браузерах и не только на input, но и на других элементах, в том числе select, button, a:*/
:active,
:hover,
:focus {
  outline: 0;
  outline-offset: 0;
}
a {
  text-decoration: none;
  transition: 0.3s;
}
ul,
ol,
li {
  list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Merriweather", serif;
}
html,
body {
  height: 100%;
  line-height: 1;
  font-size: 22px;
}
body {
  margin: 0 auto;
  position: relative;
  height: fit-content;
  position: relative;
  background-color: #164752;
}
body,
a,
.button {
  font-family: Inter;
  font-family: "Inter", sans-serif;
  font-family: "Open Sans", sans-serif;
  font-size: 20px;
  line-height: 40px;
  color: #e5cf7d;
}
a:hover {
  color: #bdae82;
}
section {
  margin: 0 auto;
  padding-top: 80px;
  padding-bottom: 80px;
}
.container {
  max-width: 1440px;
  padding: 0 20px;
  margin: 0 auto;
  height: 100%;
}

/*------------------------header------------------------*/

.header {
  height: 140px;
  width: 100%;
  padding-top: 0;
  padding-bottom: 0;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 2;
  background-color: #164752;
}
.header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 20px;
  padding-bottom: 20px;
  width: 100%;
}
.logo {
  width: 15%;
  height: 100px;
  cursor: pointer;
  transition: 1s all ease;
}
.logo-img {
  width: 100%;
  height: auto;
  border: 4px solid #a99651;
  border-radius: 50%;
}
.logo:hover {
  transform: rotateY(180deg);
}
.app-contacts {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 150px;
}
.call {
  display: block;
}
.app-img {
  width: 40px;
  height: 40px;
  vertical-align: middle;
}

.header-nav {
  min-width: 350px;
  letter-spacing: 0.5px;
  transition: 1s;
}
.nav-list {
  display: flex;
  justify-content: space-around;
}
.nav-link {
  color: #e5cf7d;
  transition: 0.6s;
  letter-spacing: 0.1px;
}
.nav-list a:hover {
  color: #d1c293;
}
.switch {
  width: 90px;
  font-size: 22px;
  letter-spacing: 0.7px;
  display: flex;
  justify-content: space-between;
}
.switch-span {
  color: #e5cf7d;
  padding-top: 3px;
  display: block;
}
.burger {
  display: none;
  width: 50px;
  height: 28px;
  position: relative;
  cursor: pointer;
}
.burger-line {
  background: #a99651;
  height: 2px;
  width: 100%;
  display: block;
  position: absolute;
  transition: 1s;
}
.burger-line:last-child {
  bottom: 0;
}
.burger-line:nth-child(2),
.burger-line:nth-child(3) {
  top: 50%;
}

/*------------------------bg-wrapper-----------------------*/

.bg-wrapper {
  background-image: url("../assets/img/world-map.png");
  background-repeat: no-repeat;
  background-size: 100%;
}
.school {
  margin-top: 140px;
  padding-bottom: 0;
  padding-top: 0;
}
.school h1 {
  text-align: center;
  font-style: italic;
  color: #e5cf7d;
  font-size: 60px;
  line-height: 120px;
}
h1 span {
  height: fit-content;
  background-color: #164752;
  border-radius: 15px;
}

.school,
.levels {
  background-color: #16475238;
}
.school .container {
  position: relative;
}
.school-text {
  padding-top: 10px;
  width: 450px;
}
.button {
  width: 220px;
  height: 55px;
  margin-top: 25px;
  cursor: pointer;
  text-align: center;
}
.gold-btn {
  color: #166272;
  background-color: #e5cf7d;
  border-radius: 15px;
  transition: 0.6s;
  position: relative;
  border: 1px solid #19788d;
}

.switch-btn.current-language {
  background-color: #166272;
}

.switch-btn {
  width: 50px;
  height: 50px;
  border-radius: 15px;
  background-color: transparent;
  color: #e5cf7d;
  font-size: 16px;
  text-transform: uppercase;
  letter-spacing: 1px;
  transition: 0.6s;
  cursor: pointer;
}
.switch-btn:hover {
  color: #d1c293;
}
.theme-btn {
  width: 45px;
  height: 45px;
  background-image: url("../assets/svg/sun-header.svg");
  background-size: cover;
  margin-left: 20px;
  transition: 0.3s;
}
.theme-btn:hover {
  filter: invert(26%) sepia(15%) saturate(638%) hue-rotate(7deg) brightness(92%) contrast(87%);
}

.section-title {
  width: 700px;
  height: 80px;
  padding-top: 20px;
  font-size: 40px;
  color: #e5cf7d;
  margin: 0 auto 60px auto;
  position: relative;
  text-align: center;
}
.section-title::before,
.section-title::after {
  content: "";
  border-bottom: 1px solid #e5cf7d;
  position: absolute;
  top: 40px;
}
.section-title::before {
  left: 0;
}
.section-title::after {
  right: 0;
}
.flags-wrapper {
  width: fit-content;
  margin: 50px auto 0;
}
.flag {
  cursor: pointer;
  transition: 0.6s all ease;
}
.flag:hover {
  transform: rotateY(180deg);
}

/*------------------------category------------------------*/

.category-list {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  gap: 20px;
}

.category-list li {
  width: 350px;
  height: 300px;
  text-align: center;
  vertical-align: bottom;
  padding: 150px 10px 10px;
  transition: 0.6s;
  color: #000000;
  text-transform: uppercase;
}

.category-list li:hover {
  transform: scale(1.1);
  filter: invert(74%) brightness(111%);
}

.children {
  background-image: url("../assets/img/category/children.svg");
  background-repeat: no-repeat;
  background-size: 70px;
  background-position: center 30px;
  filter: invert(78%) sepia(40%) saturate(431%) hue-rotate(6deg) brightness(106%) contrast(80%);
}

.adult {
  background-image: url("../assets/img/category/adult.svg");
  background-repeat: no-repeat;
  background-size: 78px;
  background-position: center 30px;
  filter: invert(78%) sepia(40%) saturate(431%) hue-rotate(6deg) brightness(106%) contrast(80%);
}

.business {
  background-image: url("../assets/img/category/business.svg");
  background-repeat: no-repeat;
  background-size: 80px;
  background-position: center 30px;
  filter: invert(78%) sepia(40%) saturate(431%) hue-rotate(6deg) brightness(106%) contrast(80%);
}

.travel {
  background-image: url("../assets/img/category/travel.svg");
  background-repeat: no-repeat;
  background-size: 78px;
  background-position: center 30px;
  filter: invert(78%) sepia(40%) saturate(431%) hue-rotate(6deg) brightness(106%) contrast(80%);
}

.work {
  background-image: url("../assets/img/category/work.svg");
  background-repeat: no-repeat;
  background-size: 74px;
  background-position: center 30px;
  filter: invert(78%) sepia(40%) saturate(431%) hue-rotate(6deg) brightness(106%) contrast(80%);
}

.meeting {
  background-image: url("../assets/img/category/meeting.svg");
  background-repeat: no-repeat;
  background-size: 88px;
  background-position: center 30px;
  filter: invert(78%) sepia(40%) saturate(431%) hue-rotate(6deg) brightness(106%) contrast(80%);
}

.globe {
  background-image: url("../assets/img/category/globe.svg");
  background-repeat: no-repeat;
  background-size: 98px;
  background-position: center 25px;
  filter: invert(78%) sepia(40%) saturate(431%) hue-rotate(6deg) brightness(106%) contrast(80%);
}

.certificate {
  background-image: url("../assets/img/category/certificate.svg");
  background-repeat: no-repeat;
  background-size: 94px;
  background-position: center 30px;
  filter: invert(78%) sepia(40%) saturate(431%) hue-rotate(6deg) brightness(106%) contrast(80%);
}

.interview {
  background-image: url("../assets/img/category/organization.svg");
  background-repeat: no-repeat;
  background-size: 74px;
  background-position: center 30px;
  filter: invert(78%) sepia(40%) saturate(431%) hue-rotate(6deg) brightness(106%) contrast(80%);
}

/*------------------------levels------------------------*/

.levels {
  color: #e5cf7d;
}
.levels .section-title {
  margin-top: 100px;
}
.levels .section-title span {
  background-color: #164752;
  border-radius: 15px;
  width: fit-content;
}
.levels .section-title::before,
.levels .section-title::after {
  width: 240px;
}

.levels-item {
  margin-bottom: 90px;
  position: relative;
}
.levels-item:not(:last-child):after {
  content: "";
  width: 200px;
  height: 1px;
  background-color: #e5cf7d;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: -40px;
}
.levels-item-title {
  text-align: center;
  text-transform: uppercase;
}
.levels-title-span {
  font-size: 27px;
  font-family: "Courier New", Courier, monospace;
}
.levels-item-text {
  font-size: 18px;
  line-height: 36px;
  text-align: center;
  margin: 20px auto 10px auto;
}
.levels-item-img {
  height: 50px;
  width: auto;
  display: block;
  margin: 0 auto 50px;
}

/*------------------------price------------------------*/

.price {
  padding-top: 90px;
  padding-bottom: 90px;
}
.price .section-title::before,
.price .section-title::after {
  width: 274px;
}
.price-items-wrapper {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  gap: 25px;
}
.price-item {
  width: 410px;
  height: 310px;
  padding: 43px 0;
  border: 2px solid #a1946d;
  transition: 0.6s;
}
.price-item:hover {
  transform: scale(1.1);
  border: none;
}
.price-item-title {
  font-family: Merriweather;
  font-style: normal;
  font-weight: bold;
  font-size: 26px;
  line-height: 56px;
  text-align: center;
  margin-bottom: 20px;
}
.how-much {
  font-family: Merriweather;
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 48px;
  text-align: center;
  color: #e5cf7d;
  margin-bottom: 20px;
}
.price-description p {
  font-size: 18px;
  line-height: 36px;
  text-align: center;
}
.price-description {
  margin-bottom: 40px;
}
.price-item .button {
  display: block;
  margin: 0 auto 40px auto;
  padding-top: 6px;
  color: #164752;
}

.price-item .button:hover {
  background-color: #166272;
  color: #bdae82;
  border: 2px solid #a1946d;
}

/*------------------------contacts------------------------*/
.contacts {
  background-color: #e5cf7d;
}

.contacts .container {
  display: flex;
  justify-content: flex-end;
  padding: 0 10px;
  background: url("../assets/img/contacts-bg.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position-x: 40px;
}
.contacts-container {
  width: 450px;
  height: 445px;
  margin-top: 0px;
  margin-right: 20px;
  margin-bottom: 195px;
}

.contacts .section-title {
  margin-left: 0;
  width: fit-content;
  text-align: left;
  margin-bottom: 50px;
  height: 60px;
  background-color: #e5cf7d;
  border-radius: 20px;
  color: #164752;
  padding-top: 0;
  height: 32px;
}
.contacts .section-title::before,
.contacts .section-title::after {
  display: none;
}
form {
  height: 325px;
}
#email,
#tel,
#textarea {
  width: 100%;
  background: #e5cf7d;
  border: 1px solid #166272;
  padding-left: 17px;
  padding-right: 20px;
  color: #166272;
  font-size: 20px;
  border-radius: 15px;
}

#email:focus,
#tel:focus,
#textarea:focus {
  border: 1px solid #bdae82;
}
#email,
#tel {
  height: 50px;
  margin-bottom: 20px;
}
#textarea {
  margin-bottom: -7px;
  padding-top: 5px;
  resize: none;
  height: 100px;
}
#email::placeholder,
#tel::placeholder,
#textarea::placeholder {
  font-family: inherit;
  color: #166272;
  font-size: 20px;
  line-height: 40px;
}
.send-btn {
  margin-top: 50px;
}
.send-btn:hover {
  box-shadow: inset 13em 0 0 0 #19788d;
  border: 1px solid #a1946d;
  color: #e5cf7d;
}

/*--------------------------footer--------------------------*/

.footer {
  padding: 20px 0;
}

.footer .container {
  height: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.footer-data {
  color: #e5cf7d;
}
.footer-contacts a {
  display: block;
  color: #e5cf7d;
  cursor: pointer;
}
.footer-contacts a:hover {
  text-decoration: underline;
  color: #ebdbad;
}
.social {
  width: 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.social-items {
  width: 32px;
  height: 32px;
}
.instagram {
  background: url("../assets/img/1instagram.svg");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  transition: 0.6s;
  filter: invert(30%) sepia(30%) saturate(638%) hue-rotate(7deg) brightness(92%) contrast(87%);
}
.facebook {
  background: url("../assets/img/2facebook.svg");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  transition: 0.6s;
  filter: invert(30%) sepia(30%) saturate(638%) hue-rotate(7deg) brightness(92%) contrast(87%);
}

.instagram:hover,
.facebook:hover {
  filter: brightness(64%) sepia(90%) contrast(196%);
}

/*--------------------------------media------------------------------*/

/* @media (max-width: 1008px) {
  .school h1 {
    font-size: 52px;
    line-height: 90px;
  }
} */

@media (max-width: 980px) {
  .logo {
    width: 140px;
  }
}

@media (max-width: 840px) {
  .container {
    padding: 0 10px;
  }
  .burger {
    display: block;
    z-index: 5;
  }
  .header-nav {
    position: absolute;
    width: 100%;
    height: 100vh;
    background-color: rgba(193, 178, 139, 0.93);
    z-index: 5;
    top: 0;
    left: -200%;
  }
  .header-nav.open {
    top: 0;
    left: 0;
  }
  .nav-list {
    flex-direction: column;
    height: 100%;
    width: 100%;
    align-items: center;
  }
  .nav-link {
    color: #19788d;
    text-transform: uppercase;
  }
  .burger.active .burger-line:last-child,
  .burger.active .burger-line:first-child {
    opacity: 0;
    background-color: #19788d;
  }
  .burger.active .burger-line:nth-child(2) {
    transform: rotate(45deg);
    background-color: #19788d;
  }
  .burger.active .burger-line:nth-child(3) {
    transform: rotate(-45deg);
    background-color: #19788d;
  }
  .switch-btn {
    font-size: 16px;
  }

  .school h1 {
    font-size: 40px;
    line-height: 80px;
  }
  .section-title {
    width: 100%;
  }
  .levels .section-title::before,
  .levels .section-title::after,
  .price .section-title::before,
  .price .section-title::after {
    width: 25%;
  }
  .category {
    padding-bottom: 0;
  }
  .contacts-container {
    margin-bottom: 10%;
  }
  .footer-contacts a {
    font-size: 18px;
  }
}

@media (max-width: 740px) {
  .school h1 {
    line-height: 60px;
  }
  .school {
    padding-top: 40px;
  }
  .category-list li {
    font-size: 16px;
  }
}

@media (max-width: 620px) {
  .school h1 {
    font-size: 36px;
  }
  .switch-btn {
    font-size: 14px;
  }
}

@media (max-width: 600px) {
  .burger {
    align-self: flex-start;
  }
  .switch {
    position: absolute;
    bottom: 10px;
    right: 5px;
    width: 70px;
  }
}

@media (max-width: 560px) {
  .school h1 {
    font-size: 30px;
    line-height: 50px;
  }
  .tel {
    font-size: 18px;
  }
  .category-list li {
    height: 250px;
  }
}

@media (max-width: 550px) {
  .tel {
    display: none;
  }

  .header {
    max-width: 100vw;
  }
  .section-title {
    font-size: 34px;
  }
  section {
    padding: 60px 0px;
  }
  .contacts-container {
    margin-top: 10px;
  }
  .price-item-title {
    font-size: 24px;
  }
  .how-much {
    font-size: 22px;
  }
  .contacts .section-title {
    font-size: 32px;
  }
  .contacts .container {
    padding: 0 10px;
    background-size: contain;
  }
  .footer-contacts {
    text-align: center;
  }
  .footer-contacts a {
    font-size: 16px;
  }
  .footer .container {
    flex-direction: column;
    align-items: center;
  }
}

@media (max-width: 470px) {
  .little {
    font-size: 26px;
  }
  .logo {
    width: 120px;
  }
  .app-img {
    width: 35px;
    height: 35px;
  }
}

@media (max-width: 440px) {
  body {
    font-size: 18px;
  }
  .section-title {
    font-size: 32px;
  }
  .contacts-container {
    width: 90%;
  }
  .category-list li {
    font-size: 14px;
  }
}

@media (max-width: 420px) {
  .school h1 {
    line-height: 36px;
    text-align: right;
  }
  .little {
    font-size: 18px;
  }
}

@media (max-width: 400px) {
  .levels .section-title::before,
  .levels .section-title::after,
  .price .section-title::before,
  .price .section-title::after {
    display: none;
  }
  .price-item-title {
    font-size: 19px;
  }
  .how-much {
    font-size: 16px;
  }
  .contacts .section-title {
    font-size: 26px;
  }
  .logo {
    width: 110px;
  }
  .app-contacts {
    align-self: flex-start;
    width: 130px;
  }
  .app-img {
    vertical-align: top;
    width: 32px;
    height: 32px;
  }
  .burger {
    width: 40px;
  }
}

@media (max-width: 340px) {
  .school h1 {
    line-height: 30px;
  }
  .logo {
    width: 105px;
  }
}
